name: Package Build Test

on:
  push:
    branches:
      - stable
      - dev
      - v0.2.2-beta1
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - stable
      - dev
      - v0.2.2-beta1

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        run: python -m build
